@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  /* font-family: 'Convergence'; */
}

body {
  background: #08090bf6;
  transition: background-color 1s ease;
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  
  
}
html{
  scroll-behavior: smooth;
}

#app {
  width: 100vw;
  height: 100vh;
  /* background: #08090b; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#chat_container {
 
  width: 100%;
  height: 85vh;
  
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 10px;

 
  scrollbar-width: none;

  
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  width: 11px;
  display: none;
  
}


#chat_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 3rem;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(96, 119, 140, 0.574); 
  border-radius: 10px;
  
}




.wrapper {
  width: 100%;
  height: auto;
  padding: 15px;
  border-radius: 1rem;
  
  
}

.false{
  width: 90%;
  max-width: 1180px;
  /* margin-left: auto; */
  
  margin-right: auto;
  
  
  
}

.ai {
  background: #28282ecb;
  width: 90%;
  max-width: 1180px;
  /* margin-left: auto; */
  
  margin-right: auto;
  transition: background-color 1s ease;
  
  
}

.chat {
  width: 100%;
  height: auto;
  max-width: 1280px;
  
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  
  
}



.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;
  font-size: 20px;

  max-width: 100%;
  
  height: max-content;
  margin-right: 2rem;
  

  transition: color 1s ease;
  white-space: pre-wrap; 

  -ms-overflow-style: auto;
  scrollbar-width: none;
  
}

textarea{
  resize: none;
}


/* ==================================================== */




/* ================================================= */

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  width: 90%;
  max-width: 1180px;
  /* margin: 0 auto; */
  margin-right: auto;
  
  padding: 10px;
  background: #23232c;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 0.5rem;
  
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 20px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}



/* ======================================== */


#down-arrow-btn {
  width: 50px;
  height: 50px;
  background: #554d4d78;
  color: #fff;
  font-size: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}


/* ========================================= */

@media(max-width:400px){
  .false{
    margin-left: auto;
    margin-right: auto;
  }
  .ai{
    margin-left: auto;
    margin-right: auto;

  }
  form{
    margin-left: auto;
    margin-right: auto;
  }
}
