.theme-btn {
    background-color: transparent;
    border-radius: 50%;
    color: #fe0606;
    cursor: pointer;
    font-size: 34px;
    padding: 10px;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 2;
    transition: color 1s ease;
    
}



body.theme-light {
    background: rgba(216, 213, 213, 0.859);
    color: #0f0d0d;
    transition: background-color 1s ease-in-out;
    
   
}

body.theme-light #undefined {
    color: rgb(0, 0, 0);
    font-weight: 500;
    transition: color 1s ease;
}


body.theme-light .ai{
    background: #1d1d24;
    transition: background-color 1s ease-in-out;
}

body.theme-light .theme-btn{
    color: #1d1d24;
    transition: color 1s ease;
}

.left-nav{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 93vh;
    
    margin-top: 1rem;
    
    margin-left: 0.5rem;
    
    color: white;
    font-size: 1.5rem;
    padding: 10px 15px;
    background: #18181dff;
    border-radius: 1rem;
    cursor: pointer;
    overflow: scroll;
    

}

.left-nav::-webkit-scrollbar{
    display: none;
}


.left-nav box-icon{
    
    border-radius: 50%;
    
}


.nav-btn{
    display: flex;
    color: white;
    font-size: 0rem;
    padding: 10px 15px;
    
    background: #38383f;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

.nav-btn h2{
    color: white;
    font-size: 17px;
    margin-left: 10px;

}


.nav-img{
    display:block;
    
}

.nav-img img{
    margin-left: 2.2rem;
    border-radius: 50%;
    height: 35px;
}

.nav-img .fb{
    text-align: center;
    margin-top: 1rem;
}

.nav-img box-icon{
    margin-top: 1rem;
    margin-left: 2.5rem;
}



/* ================================================================= */



.share-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.196);
  z-index: 1;
  backdrop-filter: blur(2px); /* added to blur background */
  transition: 1s;
  opacity: 1;
  
}

.share-popup.active {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s;
  
}


.share-popup-content {
  background-color: #1f2027fc;
  color: white;
  margin: auto;
  margin-top: 12%;
  padding: 20px;
  border-radius: 2rem;
  width: 35%;
  height: max-content;
  text-align: center;
  position: relative;
  
}

.share-popup-content h2 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 20px;
}

.share-popup-content img{
    
    border-radius: 50%;
    height: 55px;
}
.social-icons {
  
  height: 70px;
  justify-content: center;
  align-items: center;
  
  
}

.social-icons a {
  
  max-width: max-content;
  height: 90px;
  font-size: 40px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
 
}
.social-icons a i{
  transition: 0.5s;
}

.social-icons a i:hover{
  transform: scale(1.5);
}
/* ====================================================== */


.social-icons a .fb{
  color: blue;
}

.social-icons a .wap{
  color: rgb(24, 160, 31);
}

.social-icons a .ig{
  color: rgb(155, 50, 137);
  
}

.social-icons a .li{
  color: blue;
}

.social-icons a .git{
  color: rgb(182, 178, 178);
}


/* ====================================================== */

input[type="text"] {
  width: 70%;
  height: 40px;
  margin-top: 20px;
  background: transparent;
  color: #3d31ba;
  
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px;

  border: none;
  font-size: 25PX;
  text-align: center;
}

#share-link:focus {
  outline: none;
}

.copy-link-btn {
  background-color:#443d91;
  border: none;
  color: #ffffff;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  
}

.copy-link-btn:hover {
  background-color: #4d88ff;
  color: #ffffff;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 40px;
  color: #f6f1f1;
  cursor: pointer;
}



/* ===============Feedback======================================================= */



.rating-popup {
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #23232c;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  text-align: center;
  max-width: 500px;
  border-radius: 2rem;
}

.rating-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(216, 215, 215);
  margin: 20px 20px;
  
}

.rating-header h2 {
  margin: 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.stars {
  margin-bottom: 20px;
}

.stars i {
  font-size: 30px;
  color: #FFD700;
  cursor: pointer;
}

.feedback {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.submit-btn {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: btn-pulse 1s infinite;
}

.submit-btn:hover {
  background-color: #006080;
}

.thank-you-popup {
  display: none;
  position: fixed;
  height: max-content;
  
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #23232c;
  
  padding: 35px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-align: center;
}


.thank-you-popup h2 {
  font-size: 25px;
  margin-bottom: 10px;
  color: white;
}

.thank-you-popup p {
  font-size: 16px;
  margin-bottom: 20px;
}

.thank-you-popup button {
  position: relative;
  padding: 10px 20px;
  border-radius: 5px;
  left: 0rem;
  background-color: #163157;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: btn-pulse 1s infinite;
}

.thank-you-popup button:hover {
  background-color: #131f30;
}

@keyframes btn-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}







/* ====================================================================== */

@media(max-width:400px){
    .left-nav{
        display: none;
    }

    .theme-btn{
        display: none;
    }
}
